html {
  /* Allows content to fill the viewport and go beyond the bottom */
  height: 100%;

  /* Allows you to scroll below the viewport; default value is visible */
  overflow-y: scroll;

  /* To smooth any scrolling behavior */
  -webkit-overflow-scrolling: touch;
}
body {
  /* Allows content to fill the viewport and go beyond the bottom */
  height: 100%;

  /* Allows you to scroll below the viewport; default value is visible */
  overflow-y: scroll;
  overflow-x: hidden;

  /* To smooth any scrolling behavior */
  -webkit-overflow-scrolling: touch;

  margin: 0;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #333;
}
h1 {
  font-family: "Merriweather", serif;
  font-size: 24px;
  font-weight: bold;
  color: #353f99;
}
h2 {
  font-family: "Merriweather", serif;
  font-size: 24px;
  font-weight: normal;
  color: #353f99;
}
h3 {
  font-family: "Merriweather", serif;
  font-size: 20px;
  font-weight: bold;
  color: #353f99;
}
h4 {
  font-family: "Merriweather", serif;
  font-size: 20px;
  font-weight: bold;
}
h5 {
  font-family: "Merriweather", serif;
  font-size: 16px;
  font-weight: bold;
}
p {
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: normal;
}
button {
  font-family: "Open Sans";
  font-weight: normal;
}
a {
  color: #353f99;
  font-weight: bold;
  text-decoration: none;
}
a:visited {
  color: #353f99;
}
